@use "../../scss/abstracts/" as *;

.btn-add {
  @include flex(center, center);

  width: 40px;
  height: 40px;
  border-radius: 7px;
  background-color: $mainColor;
  color: $white;
  cursor: pointer;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.table {
  width: 100%;
  border-collapse: collapse;

  i {
    font-size: 1.5rem;
    cursor: pointer;
    padding: 2px;
    transition: all 0.3s ease-in-out;

    &.bx-trash {
      color: $red;
    }

    &:hover {
      transform: scale(1.5);
    }
  }

  @include mobile {
    display: block;
    width: 100%;
  }

  thead {
    @include mobile {
      display: none;
    }
  }

  tbody,
  tr,
  td {
    @include mobile {
      display: block;
      width: 100%;
    }
  }

  tr {
    @include mobile {
      margin-bottom: 15px;
    }
  }

  td {
    @include mobile {
      &::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
      }

      text-align: right;
      padding-left: 50%;
      text-align: right;
      position: relative;
    }
  }

  td,
  th {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 16px;
  }

  th {
    background-color: $mainColor;
    color: #ffffff;
  }

  tbody tr:nth-child(even) {
    background-color: $tableColor;
  }
}
